#Todo {
    padding-top: 100px;
}

.carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.flechas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider{
    position: absolute;
    width: 100%;
}

#slider1 {
    left: 0;
}

#slider2 {
    left: 100%;
}

.btns-slider {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--Naranja_Obscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.espaciado {
    letter-spacing: 0.5rem;
}

h2 {
    font-weight: 300;
    margin-bottom: 35px;
}

.botas_avestruz {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    flex-wrap: wrap;
}

#bt1 {
    background-image: url(../Imagenes/Botas/bota_avestruz_1.png);
}

#bt2 {
    background-image: url(../Imagenes/Botas/bota_avestruz_2.png);
}

#bt3 {
    background-image: url(../Imagenes/Botas/bota_avestruz_3.png);
}

.bota {
    width: 281px;
    height: 423px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 920px) {
    #Todo {
        padding-top: 80px;
    }
}

@media (max-width: 450px) {
    .btns-slider {
        font-size: 2.5rem;
    }
}