.carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 1500px;
    min-width: 330px;
}

.flechas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider{
    position: absolute;
    width: 100%;
}

#slider1 {
    left: 0;
}

#slider2 {
    left: 100%;
}

.bolitas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
}

.btns-slider-bolita {
    width: 50px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--Gris);
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.bol-selec {
    width: 80px;
    height: 5px;
    background-color: var(--Negro);
}

.btns-slider {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--Negro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.fondo-gris {
    background-color: var(--Gris_Claro);
}

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1500px;
    padding-bottom: 30px;
}

.colum {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}

.espaciado {
    letter-spacing: 0.5rem;
}

h2 {
    margin-top: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
}

.botas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    min-width: 900px;
}

.marco::after {
    content: "";
    left: 3.5%;
    top: 2.5%;
    width: 1px;
    height: 1px;
    position: absolute;
    transition: 0.5s;
}

.marco::before {
    content: "";
    right: 3.2%;
    bottom: 2.2%;
    width: 1px;
    height: 1px;
    position: absolute;
    transition: 0.3s;
}

.marco:hover::before {
    border-bottom: 1px solid var(--Blanco);
    border-right: 1px solid var(--Blanco);
    width: 93%;
    height: 95%;
}

.marco:hover::after {
    border-top: 1px solid var(--Blanco);
    border-left: 1px solid var(--Blanco);
    width: 93%;
    height: 95%;
}

#bt1 {
    background-image: url(../Imagenes/Botas/bota_avestruz_1.png);
}

#bt2 {
    background-image: url(../Imagenes/Botas/bota_avestruz_2.png);
}

#bt3 {
    background-image: url(../Imagenes/Botas/bota_avestruz_3.png);
}

#bt4 {
    background-image: url(../Imagenes/Botas/cabra3.png);
}

#bt5 {
    background-image: url(../Imagenes/Botas/bota_avestruz_3.png);
}

#bt6 {
    background-image: url(../Imagenes/Accesorios/cinto2.png);
    height: 316px;
}

#bt7 {
    background-image: url(../Imagenes/Accesorios/Cartera.png);
    height: 324px;
}

#bt8 {
    background-image: url(../Imagenes/Zapatos/zapato2.png);
    width: 602px;
    height: 661px;
    margin: 0;
}

.bota:hover {
    box-shadow: 0px 0px 15px 500px transparent inset;
}

.bota {
    box-shadow: 0px 0px 15px 500px var(--Sombra_Blanca) inset;
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    transition: 0.8s;
}

.mediano {
    width: 281px;
    height: 423px;
}

.grande {
    width: 436px;
    height: 657px;
}

.chico {
    width: 282px;
    margin: 0;
}

.pie-titulo::after {
    content: "BOTA DE CABRA";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--Blanco);
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: var(--Naranja_Obscuro);
    transition: 0.5s;
}

.pie-titulo:hover::after {
    height: 15%;
}

#conocenos-sub {
    font-size: 2.3rem;
    margin-bottom: 15px;
    color: var(--Gris_Oscuro);
}

.btn-Gris {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Gris_Oscuro);
    width: 260px;
    height: 35px;
    border: 2px solid var(--Gris);
    background-color: var(--Blanco);
    transition: 0.3s;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn-Gris:hover {
    background-color: var(--Gris);
    color: var(--Blanco);
}

@media (max-width: 920px) {
    #Todo {
        padding-top: 80px;
    }

    .mediano {
        width: 158.1px;
        height: 238px;
    }

    .grande {
        width: 245.3px;
        height: 369.65px;
    }

    .pie-titulo::after {
        font-size: 1rem;
    }

    .botas {
        min-width: 500px;
    }

    .colum {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .chico {
        width: 245.3px;
    }

    #bt8 {
        width: 100%;
        height: 600px;
        margin-top: 10px;
    }
}

@media (max-width: 520px) {
    .btns-slider {
        font-size: 2rem;
    }

    .grande {
        width: 158.1px;
        height: 238px;
    }

    .pie-titulo::after {
        letter-spacing: 0.2rem;
        font-size: 0.7rem;
    }

    #bt3 {
        display: none;
    }

    .botas {
        min-width: 330px;
    }

    h2 {
        font-size: 1rem;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .seccion {
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .chico {
        width: 158.1px;
    }

    #bt6 {
        height: 203.67px;
    }

    #bt7 {
        height: 203.67px;
    }

    #bt8 {
        height: 400px;
    }

    #conocenos-sub {
        font-size: 1.7rem;
    }

    .btns-slider-bolita {
        width: 30px;
        height: 5px;
    }
    
    .bol-selec {
        width: 60px;
        height: 5px;
    }
}