#Todo {
    padding-top: 100px;
}

.carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.flechas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider{
    position: absolute;
    width: 100%;
}

#slider1 {
    left: 0;
}

#slider2 {
    left: 100%;
}

.btns-slider {
    margin-left: 10px;
    padding-right: 10px;
    color: var(--Naranja_Obscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    z-index: 2;
}

@media (max-width: 920px) {
    #Todo {
        padding-top: 80px;
    }
}