nav {
    position: fixed;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px;
    width: 100%;
    background-color: #421a04c8;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 300;
}

.nav-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

#logo-completo {
    height: 80%;
}

.nav-celular {
    display: none;
}

.nav-celular i {
    text-align: center;
    font-size: 2rem;
    color: white;
}

@media (max-width: 920px) {
    nav {
        grid-template-columns: 100%;
        grid-template-rows: 80px 30px 30px 30px 30px;
        width: 100%;
        background-color: #421a04c8;
        overflow: hidden;
        font-size: 0.8rem;
        font-weight: 300;
        padding-bottom: 30px;
    }

    .nav-celular {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 80px;
    }

    #cont-logo-texto {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #logo-texto {
        height: 70%;
    }

    #cont-logo {
        display: none;
    }
}
